# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Environment
.env

# Node
node_modules/

# React
dist/

# IDE
.vscode/
.idea/

# Logs
*.log

# Database
*.db

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Coverage
.coverage

# Build
build/

# Misc
*.tmp

backend/tests